* {
    text-align: center;
}

.container {
    display: flex;
    margin: 0px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;   
}

/* 顯示文字及輸入文字 CSS */
.Showblock {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #ca8686;
    padding-bottom: 30px;
}

.Showblock textarea {
    width: 30%;
    height: 200px;
    font-size: 50px;
}

.Showblock .select {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
    .Showblock button {
        border-radius: 20px;
        font-size: 35px;
        margin: 10px;
        width: 200px;
        height: 200px;
    }

/* 鍵盤CSS */
.Keyboard {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #abea7a;
    padding-top: 30px;
}

    .Keyboard button {
        border-radius: 20px;
        font-size: 35px;
        margin: 10px;
        width: 200px;
        height: 200px;
    }

    .Keyboard .Pinyin {
    }
        .Keyboard .Pinyin .Show {
            justify-content: space-between;
        }

        .Keyboard .Pinyin .Group {
            display: flex;
            justify-content: space-evenly;
        }

        .Keyboard .Pinyin .Change {
            background-color: #549eee;
        }

    .Keyboard .Voice {
        display: flex;
        flex-direction: column;
    }

        .Keyboard .Voice .Play {
            background-color: aqua;
        }

        .Keyboard .Voice .Cancel {
            background-color: yellow;
        }
