<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="webserver_arduinoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54562/webserver_arduino.asmx"
                binding="basicHttpBinding" bindingConfiguration="webserver_arduinoSoap"
                contract="ServiceReference1.webserver_arduinoSoap" name="webserver_arduinoSoap" />
        </client>
    </system.serviceModel>
</configuration>